@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    box-shadow: none;
}

.banner-head{
    position: absolute;
    top: 0;
    height: 75vh;
    width: 100%;
    z-index: -1;
    background-image: url('assets/background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-aspect-ratio: 16/10) {
        height: 105vh; /* Aumenta a altura para telas largas */
    }
}

.banner-green{
    margin-top: 50px;
    width: 100vw;
    background-image: url('assets/background_green.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-foot{
    background-image: url('assets/background_footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}
